html {
  font-size: 16px;
  font-size: calc(16px + 2 * ((100vw - 500px) / 1500));
}
.body {
  background-color: #393e46;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%234e545c' fill-opacity='0.55'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: white;
}

.body > *:not(.footer) {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.header .text-muted, .header p {
  margin: 0;
}

.header .site-title {
  font-size: 1.75rem;
  margin-top: .25em;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}

.test {
  margin-left: 9px;
  margin-right: 9px;
}

.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  /*justify-content: center;*/
  position: relative;
}

.section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: -10%;
}

/*.footer {
  position: fixed;
  background-color: rgba(100, 100, 100, .25);
  padding: 8px 0;
  text-align: center;
}*/

.footer {
  position: fixed;
  width: 100%;
  height: 25px;
  padding-top: 5px;
  background-color: rgba(100, 100, 100, .25);
  text-align: center;
  bottom: 0%;
}

.footer a,
.footer a:hover,
.footer a:active,
.footer a:focus {
  color: white;
}

.footer__copy {
  font-size: 12px;
}
.footer__love {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

code.alert {
  background-color: #333;
  color: #f5f5f5;
  font-size: 0.75rem;
  margin: 5% 0;
  opacity: 0.7;
}
code.alert:hover {
  opacity: 1;
}

/* Bootstrap OW */
.alert:empty {
  background-color: transparent;
  pointer-events: none;
}
.btn:active, .btn:focus, .input-group input {
  box-shadow: none!important;
  border: 0!important;
  outline: 0!important;
}
.form-group .form-text {
  padding: .5rem 1rem;
  margin-top: 0;
}
.input-group {
  border-radius: 1em;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.4);
}

.input-group:focus-within {
  box-shadow: 1px 1px 12px 0px rgba(100, 100, 100, 0.9);
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-radius: 0.3em 0 0 0.3em;
}

.input-group-append .btn {
  background-color: #464c54;
}
.input-group>.input-group-append:last-child,
.input-group>.input-group-append:last-child .btn {
  border-radius: 0 0.3em 0.3em 0;
}

.form-control {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);;
  will-change: background-color, color;
}

.form-control.hsimp-level--insecure {
  background-color: #be3737;
  color: #fff;
}
.form-control.hsimp-level--bad {
  background-color: #f6c523;
  color: #333;
}
.form-control.hsimp-level--ok {
  background-color: #f87d42;
  color: #fff;
}
.form-control.hsimp-level--good {
  background-color: #1abb9c;
  color: #fff;
}


/* Styles for custom-controls */
.custom-control.fill-checkbox .fill-control-input {
  display: none;
}
.custom-control.fill-checkbox .fill-control-input:checked ~ .fill-control-indicator {
  background-color: #0f64c0;
  border-color: #0f64c0;
  background-size: 80%;
}
.custom-control.fill-checkbox .fill-control-indicator {
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
  transition: .3s;
  background: transperent;
  background-size: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-range,
.custom-range:active,
.custom-range:focus{
  background-color: transparent;
  box-shadow: none;
  border: 0;
  outline: 0;
}
.custom-range::-webkit-slider-thumb {
  background-color: #007bff;
  margin-top: -0.25rem;
  height: 0.75rem;
  width: 0.75rem;
}
.custom-range::-webkit-slider-thumb:active {
  background-color: #0f64c0;
}
.custom-range::-webkit-slider-runnable-track {
  height: 0.25rem;
  border-radius: 2em;
}


/** media queries */
@media screen and (max-width: 360px) {
  html {
    font-size: 13px;
  }
  .body > .header {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 480px) {
  .body {
    display: grid;
    height: 100vh;
    grid-gap: 8px;
    grid-template-rows: 120px 1fr 30px;
  }
}

@media screen and (min-width: 960px) {
  code.alert {
    bottom: 3rem;
    left: 50%;
    margin: 0;
    max-width: 960px;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }
}

.btn svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

#time {
  text-decoration: underline;
}